body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.login-box {
  background: #ffffff;
  width: 380px;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.4);
}

button.login-btn {
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

button.login-btn:hover {
  background: #1d4ed8;
}
